<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title>メンバー検索</title>
    <!-- 個別CSS読込 -->
    <link rel="stylesheet" th:href="@{/css/list.css}">
    <!-- 個別JS読込 -->
    <link rel="stylesheet" th:href="@{/webjars/datatables/css/jquery.dataTables.min.css}">
    <script th:src="@{/webjars/datatables/js/jquery.dataTables.min.js}" defer></script>
    <script th:src="@{/js/member/list.js}" defer></script>
</head>
<body>
<div layout:fragment="content">
    <div class="header border-bottom">
        <h1 class="h2">メンバー検索画面</h1>
    </div>
    <!-- 検索 -->
    <div class="form-signup" >
        <form id="member-search-form"
              method="post"
              class="form-inline"
              th:object="${memberSearchForm}">
            <div class="form-signup" >
                <label for="memberId" class="mr-2">メンバーID</label>
                <input type="text"
                       class="form-control"
                       th:field="*{memberId}"/>
            </div>
            <div class="form-signup" >
                <label for="memberName" class="mr-2">氏名</label>
                <input type="text"
                       class="form-control"
                       th:field="*{memberName}"/>
            </div>
            <button id="btn-search" class="btn btn-primary ml-3" type="button">
                検索(REST)
            </button>
        </form>
    </div>
    <!--一覧表示(REST) -->
    <div>
        <table id="member-list-table"
               class="table table-striped table-bordered table-hover w-100">
            <thead class="thead-light">
            <tr>
                <th class="th-width">メンバーID</th>
                <th class="th-width">氏名</th>
                <th class="th-width">ランク</th>
                <th class="th-width">所属会社</th>
                <th class="th-width"></th>
            </tr>
            </thead>
        </table>
    </div>
</div>
</body>
</html>